@font-face {
    font-family: "padrao";
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: "secundaria";
    src: url(../fonts/SairaCondensed-Light.ttf);
}

@font-face {
  font-family: "rodape";
  src:url(../fonts/ShadowsIntoLight-Regular.ttf);
}


h1 {
    font-family: "padrao";
    color: green;
}

h2 {
    font-family: "secundaria";
}

h3 {
    font-family: "rodape";
    color: ivory;
}

p {
    font-family: "secundaria";
}

img {
    width: 7%;
    border-radius: 50%;
}

h4 {
    font-family: "padrao";
    color: ivory;
}

#area1{
    grid-area: cabecalho;
    background-color: black;
    padding: 30px 0px 10px 0px;
    text-align: center;
}

#area2{
    grid-area: menu;
   background-color: gray;
   text-align: center;
   padding: 0px 10px 30px 10px;
}

#area3{
    grid-area: conteudo;
    text-align: center;
}

#area4{
    grid-area: rodape;
    background-color: cadetblue;
}

body{
    margin: 0;
}

#conteiner {
    display: grid;
    grid-template-areas: 
    "cabecalho cabecalho cabecalho cabecalho cabecalho"
    "menu conteudo conteudo conteudo conteudo "
    "rodape rodape rodape rodape rodape  ";
}

#area2 ul {
    list-style: none;
    padding-left: 0;
    
}
#area2 a{
text-decoration: none;
color: ivory;
font-family: "secundaria";
font-size: 110%;
}

@media only screen and (max-width: 600px){
    #conteiner {
        display: grid;
        grid-template-areas: 
        "cabecalho "
        "menu "
        "conteudo"
        "rodape ";
    }
    #area2{
        display: none;
    }

    #areamobile{
        display: block;
        grid-area: "menu";
        background-color: gray;
    }
    #areamobile ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }
    #areamobile li{
        display: inline;
        margin: 10px;
    }
}

#areamobile {
    display: none;
}